In [1]:
!curl https://raw.githubusercontent.com/Soot3/time_series_data_with_pandas_and_kafka/main/DailyDelhiClimateTrain.csv -o timeseries.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
  1 78199    1  1371    0     0    679      0  0:01:55  0:00:02  0:01:53   680
100 78199  100 78199    0     0  33991      0  0:00:02  0:00:02 --:--:-- 34014

In [2]:
import pandas as pd

df = pd.read_csv("timeseries.csv")
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1462 non-null   object
 1   meantemp      1462 non-null   float64
 2   humidity      1462 non-null   float64
 3   wind_speed    1462 non-null   float64
 4   meanpressure  1462 non-null   float64
dtypes: float64(4), object(1)
memory usage: 57.2+ KB
None

         date   meantemp   humidity  wind_speed  meanpressure
0  2013-01-01  10.000000  84.500000    0.000000   1015.666667
1  2013-01-02   7.400000  92.000000    2.980000   1017.800000
2  2013-01-03   7.166667  87.000000    4.633333   1018.666667
3  2013-01-04   8.666667  71.333333    1.233333   1017.166667
4  2013-01-05   6.000000  86.833333    3.700000   1016.500000

In [4]:
df.date.max()

'2017-01-01'

In [6]:
df["date"] = pd.to_datetime(df["date"])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1462 non-null   datetime64[ns]
 1   meantemp      1462 non-null   float64
 2   humidity      1462 non-null   float64
 3   wind_speed    1462 non-null   float64
 4   meanpressure  1462 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 57.2 KB

In [ ]:
df = df.set_index('date')
df['Day'] = df.index.day_name()

In [16]:
df.groupby(['Day'])['wind_speed'].mean().sort_values()

Day
Sunday       6.251257
Saturday     6.665902
Friday       6.762335
Thursday     6.870604
Wednesday    6.929165
Monday       7.044321
Tuesday      7.093035
Name: wind_speed, dtype: float64